{% load static %}
<nav>
    <img src="{% static 'logo.png' %}" alt="Bethany Church Logo">
    <div class="menu-icon" onclick="toggleMenu()">
        <i class="fas fa-bars"></i>
    </div>
    <div class="nav-links">
        {% if user.is_authenticated %}
            {% if user.is_staff or user.is_superuser %}
                <!-- Admin Home Link -->
                <a href="{% url 'admin_home' %}" class="{% if request.resolver_match.url_name == 'admin_home' %}active{% endif %}">Home</a>
            {% else %}
                <!-- Regular User Home Link -->
                <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
            {% endif %}
            <!-- Other Links -->
            <a href="{% url 'mark_attendance' %}" class="{% if request.resolver_match.url_name == 'mark_attendance' %}active{% endif %}">Attendance</a>
            <a href="{% url 'ministry_list' %}" class="{% if request.resolver_match.url_name == 'ministry_list' %}active{% endif %}">Ministry</a>
            <a href="{% url 'small_group_list_create' %}" class="{% if request.resolver_match.url_name == 'small_group_list_create' %}active{% endif %}">Small Groups</a>
            <a href="{% url 'manage_giving' %}" class="{% if request.resolver_match.url_name == 'manage_giving' %}active{% endif %}">Tithes</a>
            <!-- Logout Form -->
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-link logout-button">
                    Logout
                </button>
            </form>
        {% else %}
            <!-- Links for unauthenticated users (visitors) -->
            <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
            <a href="{% url 'login' %}" class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}">Admin Login</a>
        {% endif %}
    </div>
</nav>

<!-- Scripts -->
<script>
    function toggleMenu() {
        const navLinks = document.querySelector('.nav-links');
        navLinks.classList.toggle('active');
    }
</script>
