<style>
    body {
        margin: 0;
        padding: 0;
    }
    nav {
        box-sizing: border-box;
    }
    </style>
    
    {% load static %}
    <nav style="background-color: #FF8748; padding: 10px 20px; display: flex; align-items: center; position: absolute; top: 0; width: 100%;">
        <img src="{% static 'logo.png' %}" alt="Bethany Church Logo" style="height: 50px; margin-left: 20px;">
        <a href="{% url 'home' %}" style="color: white; text-decoration: none; font-weight: bold; margin-left: auto;">Home</a>
        <!--Attendance-->
        <a href="{% url 'mark_attendance' %}" style="color: white; text-decoration: none; font-weight: bold; margin-left: 20px;">Attendance</a>
        <!--Ministry-->
        <a href="{% url 'ministry_list' %}" style="color: white; text-decoration: none; font-weight: bold; margin-left: 20px;">Ministry</a>
        <!--Small Groups-->
        <a href="{% url 'small_group_list_create' %}" style="color: white; text-decoration: none; font-weight: bold; margin-left: 20px;">Small Groups</a>
        <!--Tithes-->
        <a href="{% url 'manage_giving' %}" style="color: white; text-decoration: none; font-weight: bold; margin-left: 20px;">Tithes</a>
    </nav>
    <div style="background-color: green; padding: 3px 20px; display: flex; align-items: center; position: absolute; top: 70px; width: 100%;"></div>
